{
  "extends": [
    "eslint:recommended",
    "airbnb-base",
    "airbnb-typescript/base",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:import/recommended",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "parserOptions": {
    "warnOnUnsupportedTypeScriptVersion": false,
    "ecmaVersion": 12,
    "sourceType": "module",
    "project": ["./tsconfig.json"]
  },
  "rules": {
    "no-console": "off",
    "no-unused-vars": "off",
    "prettier/prettier": "off",
    "no-plusplus": "off",
    "no-empty": "off",
    "no-restricted-globals": "off",
    "class-methods-use-this": "off",
    "object-shorthand": "off",
    "consistent-return": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "import/no-unresolved": "off",
    "import/named": "off",
    "no-useless-escape": "off",
    "import/prefer-default-export": "off",
    "import/extensions": "off",
    "@typescript-eslint/no-unsafe-call": "off",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/no-unsafe-member-access": "off",
    "@typescript-eslint/no-unsafe-assignment": "off",
    "@typescript-eslint/no-floating-promises": "off",
    "@typescript-eslint/no-shadow": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/no-unsafe-return": "off",
    "@typescript-eslint/await-thenable": "off",
    "@typescript-eslint/no-misused-promises": "off"
  },
  "ignorePatterns": ["node_modules/", "build", "**/*.js", "ormconfig.ts", "tests/"]
}
